<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script src="../../../AngularJS/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./controller.js"></script>
    <title>SB-8 OP-1</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .flex div {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
</style>

<body ng-app="kleurApp2" ng-controller="kleurController2" style="background-color: {{backgroundColor}}">

<div class="flex">
    <div ng-click="div1 = div1 + 1"
         ng-model="div1"
         ng-mouseenter="changeColor($event)"
         ng-mouseleave="resetColor()"
         style="background-color: #f00;">{{div1}}
    </div>
    <div ng-click="div2 = div2 + 1"
         ng-mouseenter="changeColor($event)"
         ng-mouseleave="resetColor()"
         style="background-color: #0f0;">{{div2}}
    </div>
    <div ng-click="div3 = div3 + 1"
         ng-mouseenter="changeColor($event)"
         ng-mouseleave="resetColor()"
         style="background-color: #00f;">{{div3}}
    </div>
</div>

</body>
</html>