<table class="table bg-light mb-5">
    <thead>
    <tr style="height: 50px">
        <th class="sticky-top bg-light" ng-repeat="column in columns">{{column['columnFrontName']}}</th>
        <th class="sticky-top bg-light">Acties</th>
    </tr>
    <tr style="height: 50px">
        <td colspan="2" class="bg-light" style="top: 45px; position:sticky;">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-filter"></i>
                    </div>
                </div>
                <input id="readFilter" ng-model="filter" type="text" class="form-control" placeholder="Filter">
            </div>
        </td>
        <td>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-sort"></i>
                    </div>
                </div>
                <select ng-model="orderBy" class="form-control">
                    <option value="">Sorteren op...</option>
                    <option ng-repeat="column in columns" value="{{column.columnBackName}}">
                        {{column.columnFrontName}}
                    </option>
                </select>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <button ng-click="invertSort()" style="padding: 0; font-size: .9rem;" class="btn"><i class="{{!inverseSort ? 'fas fa-sort-amount-up' : 'fas fa-sort-amount-down'}}"></i></button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr data-toggle="tooltip"
        data-placement="top"
        title="Toegevoegd op: {{person.tijd_toegevoegd}}"
        ng-repeat="person in personCollection | filter : filter | orderBy : orderBy : inverseSort">
        
        <td ng-repeat="column in columns">{{person[column['columnBackName']]}}</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-secondary" href="#!update/{{ person.id }}"><i class="fas fa-pen"></i></a>
                <a class="btn btn-secondary" href="#!delete/{{ person.id }}"><i class="fas fa-trash"></i></a>
            </div>
        </td>
    
    </tr>
    </tbody>
</table>

<a href="#!create"
   style="cursor: pointer"
   class="btn btn-secondary fixed-bottom rounded-0 text-light form-control text-uppercase">Add a new person</a>
