<div ng-controller="updateController">
    <div class="container mt-5">
        
        <div ng-controller="createController" class="card p-3">
            
            <h1 class="text-center">Weizig {{initialPerson.voornaam + ' ' + initialPerson.achternaam}}</h1>
            
            <form name="addForm" class="card-body" novalidate>
                
                <div ng-repeat="model in updateModels" class="form-group">
                    <label for="{{'create' + model.label}}">
                        {{model.label}}
                    </label>
                    <input id="{{'create' + model.label}}"
                           ng-model="model.input"
                           ng-pattern="model.pattern"
                           class="form-control"
                           ng-required="true"
                           name="{{model.label}}"
                           type="{{model.type}}"
                    >
                    
                    
                    
                    <div ng-show="addForm[model.label].$invalid && addForm[model.label].$touched" class="alert alert-warning mt-2">{{model.invalidMessage}}</div>
                
                </div>
    
                <div class="btn-group w-100">
                    <button ng-click="goBack()" class="btn btn-primary form-control font-weight-bold">Ga Terug Of Annuleren</button>
                    
                    <button ng-click="reset()" class="btn btn-warning form-control font-weight-bold">Reset</button>
        
                    <button type="submit" class="btn btn-success form-control font-weight-bold"
                            ng-click="updatePerson()" ng-disabled="addForm.$invalid">
            
                        <span ng-hide="updateModels.voornaam.input && updateModels.achternaam.input">Persoon</span>
            
                        <span>
                    {{initialPerson.voornaam + ' ' + initialPerson.achternaam}}
                </span>
            
                        <span>Weizigen</span>
                    </button>
                </div>
                
            
            </form>
        </div>
    </div>

</div>